.card {
    --bg: #f7f7f8;
    max-width: 20ch;
    max-height: 30px;
    text-align: center;
    background: var(--bg);
    padding: 4em;
    padding-block: 2.2em;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for depth */
  }
  .card {
    flex: 0 0 calc(33.333% - 10px); /* Each card takes up 1/3 of the container width minus spacing */
    margin-bottom: 10px; /* Space between rows */
  }

  .card:hover>div,.card:hover>strong {
    transform: scale(1.3); /* Enlarge to 1.2 times its size */
    transition: transform 0.5s ease; /* Smooth animation */
  }


  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .card {
      max-width: 70%; /* Adjusts the width for smaller screens */
      padding: 2em; /* Reduces padding for compact layout */
      max-height: none; /* Allows dynamic height based on content */
      max-width: 20ch;
    }
  }
  
  @media (max-width: 480px) {
    .card {
      padding: 1.5em; /* Further reduces padding for very small screens */
      gap: 0.2em; /* Tightens gap between elements */
      max-width: 30ch;
    }
  }
