@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
  font-family: "Open Sans", sans-serif;
  background-color: #ebe6fe;
}

*{
  margin:0;
  padding:0;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background-color: #ebe6fe;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ebe6fe, #7f6fb8);
  border-radius: 50px;
}
